@import "tailwindcss";

@font-face{
  font-family: "silkscreen";
  src: url("/public/fonts/slkscre.ttf");
}

@font-face{
  font-family: "doto";
  src: url("/public/fonts/Doto.ttf");
}

html, body {
  cursor: url("../public/arrow2.png") 2 2, auto;
}

button, a,
[role="button"],
input,
select,
textarea {
  cursor: url("../public/arrow2.png") 2 2, auto;
}

